header {
    background-color: #266fbd;
    width: 100%;
    height: 70px
}

.icono {
    width: 20px;
    height: 15px;
}

.template {
    padding: 15px;
}

.template .btn-primary {
    background-color: #266fbd;
    border: none;
}

p {
    float: right;
}


/*bienvenido*/

h1 {
    color: #faa200;
    padding-left: 50px;
}

h2 {
    color: #ebeff3;
    padding-left: 130px;
}

label {
    color: #ebeff3;
    padding-left: 35px;
}

span {
    color: #ebeff3;
    padding-left: 55px;
}

.container {
    margin-top: 40px;
    width: 400px;
    height: 400px;
    background-color: #18406b;
    border-radius: 5px;
    padding: 40px;
}

.btn-info {
    background-color: #266fbd;
    color: white;
    margin-left: 105px;
    margin-top: 15px;
}

.card-img img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border-style: solid;
    border-color: #fff;
    padding: 5px;
    margin-left: 105px;
}